<div layout-padding>
	<form name="contributionForm" ng-submit="newContribution(contributionForm.$valid)" enctype="multipart/form-data">
		<div layout="row" layout-sm="column">
			<md-input-container flex-gt-sm flex-xs="100">
				<label>Desejo</label>
				<input type="text" name="username" disabled ng-model="contribution.wish.name" placeholder="Fulano" />
			</md-input-container>
		</div>				
		<md-button class="md-raised md-primary" style="width:100%; margin: 0px 0px;" type="submit" ng-disabled="contributionForm.$invalid">Login</md-button>					
		<md-content layout-padding>	
			<md-button md-no-ink class="md-primary" ng-click="newAccount()">Do not have an account? Sign Up</md-button>
		</md-content>
		<md-button class="md-raised md-primary" ng-href="" target="_blank" style="width:100%; margin: 15px 0px 0px 0px;">Sign In With Facebook</md-button>
	</form>
</div>