<div layout-padding></div>
<md-content layout="row">
	<div flex="15" layout-padding>
		<img class="user" data-ng-src="data:image/jpg;base64,{{profile.profileImg}}" style="width:90px; height:auto;" />	
	</div>
	<div flex>
		<div class="md-list-item-text">
			<h5 style="margin-bottom: 0">{{profile.name}}</h5>
			<h3 style="margin:0">{{profile.email}}</h3>
			<h4 class="md-body-2" style="margin:0">{{profile.url}}</h4>
		</div>	
	</div>
</md-content>

<div layout="row" layout-xs="column">
	<div layout="column" flex="40" flex-xs="40">
		<div flex>
			<md-content layout-padding>
			    <md-list class="md-dense" flex>
			        <md-subheader class="md-no-sticky">Meus Desejos</md-subheader>
			        <md-list-item class="md-3-line" ng-repeat="(key, value) in myWishes | orderBy : '-creationDate'" ng-click="openWishContribution(value)">
						<div class="md-list-item-text" layout="column" layout-fill>
							<h3>{{value.profile.name}} em {{value.creationDate | date: 'dd MMMM, yyyy'}}</h3>
							<h3 class="md-title">{{value.name}}</h3>
							<h4 class="md-body-2">{{value.description}}</h4>
							<p>{{value.totalValue | currency : R$ }}</p>
						</div>						
			        </md-list-item>
				</md-list>
			</md-content>
		</div>
		<div flex>
			<md-subheader class="md-no-sticky">Seus Amigos</md-subheader>
			<md-content layout-padding>
				<md-grid-list
				    md-cols="4" md-cols-sm="4" md-cols-md="5" md-cols-gt-md="2"
				    md-row-height-gt-md="1:1" md-row-height="1:1"
				    md-gutter="2px" md-gutter-gt-sm="2px">		    
				    <md-grid-tile ng-repeat="value in friends"
				    			  md-rowspan="1"
				                  md-colspan="1"
				                  md-colspan-sm="1"
				                  md-colspan-xs="1"
				                  ng-class="tile.background">
				      <img data-ng-src="data:image/jpg;base64,{{value.profileImg}}" data-err-src="img/profile.jpg" style="width:100%; height:auto;" class="md-avatar" />
				      <md-grid-tile-footer><h3>{{value.name}}</h3></md-grid-tile-footer>		      
				    </md-grid-tile>			
				</md-grid-list>
			</md-content>
		</div>
	</div>
	
	<div flex>	
	    <md-content>
		    <md-list class="md-dense" flex>
		        <md-subheader class="md-no-sticky">Contribua Para os Desejos de Seus Amigos</md-subheader>		        
		        <md-list-item class="md-3-line" ng-repeat="(key, value) in wishes | orderBy : '-creationDate'">		
					<img data-ng-src="data:image/jpg;base64,{{value.profile.profileImg}}" data-err-src="img/profile.jpg" height="80" width="80" class="md-avatar" />
					<div class="md-list-item-text" layout="column" layout-fill>
						<h3>{{value.profile.name}} em {{value.creationDate | date: 'dd MMMM, yyyy'}}</h3>
						<h3>{{value.name}}</h3>
						<h4>{{value.description}}</h4>
						<p>{{value.totalValue | currency : R$ }}</p>
					</div>
					<md-divider></md-divider>
		        </md-list-item>
			</md-list>
		</md-content>
	</div>
</div>