<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="hackathon" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="hackathon" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="hackathon" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="hackathon" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Friend Funding</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="SystemCtrl">
  <div layout="row">
    <div layout="column" flex ng-cloak>
      <div flex id="c1">
        <md-content>
          <md-toolbar class="md-hue-2" ng-if="status"> 
            <div class="md-toolbar-tools">
            <img ng-src="img/logo.png" style="width:45px; height:auto; padding-right: 4px;" class="md-avatar" />
              <h2 flex md-truncate>Friend Funding</h2>
              <md-button class="md-icon-button" aria-label="home" ng-click="back()">
                <i class="material-icons">home</i>
              </md-button>
              <md-button class="md-icon-button" aria-label="exit" ng-click="logout()">
                <i class="material-icons">exit_to_app</i>
              </md-button>
            </div>
          </md-toolbar>
          <div>
            <div ng-view></div>
          </div>
        </md-content>
      </div>
    </div>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-material/angular-material.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/bower_components/angular-base64-upload/dist/angular-base64-upload.js"></script>
  <script src="app.js"></script>
  <script src="system.module.js"></script>
  <script src="home/home.js"></script>
  <script src="login/login.js"></script>
  <script src="wish/wish.js"></script> 
  <script src="contribution/contribution.js"></script>  
  <script src="profile/profile.js"></script>   
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
